atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/.apm/.apmrc
atom.symlink/.apm/
atom.symlink/local-history/
atom.symlink/projects.cson

git/gitconfig.symlink
.dotfiles
.jenv
antigen
cache
vundle
